<div class="site-wrapper">
   <div class="site-wrapper-inner">
      <div class="cover-container">
         <div class="masthead clearfix">
            <div class="inner">
               <h3 class="masthead-brand">Welcome!</h3>
               <nav>
                  <ul class="nav masthead-nav">
                     <li class="active"><a href="#">Home</a></li>
                     <li class="active"><a href="/products">products</a></li>
                     <li class="active"><a href="#">Home</a></li>
                  </ul>
              </nav>
            </div>
         </div>
         <div class="inner cover">
            <h2>Login</h2>
            Enter Username: <input type='text' ng-model='un' />
            Enter Password: <input type='text' ng-model='password' />
            <btn ng-click='login()'>Login</btn>
         </div>
         <div class="mastfoot">
            <div class="inner">
               <p>Thanks for visiting.</p>
            </div>
         </div>
      </div>
   </div>
</div>